#container {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 250lvh;
  position: relative;
  transition: all 0.2s ease;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: min(100% - 4em, 500em);
  margin: 23px 30px 23px 30px;
  padding-bottom: 15px;
  align-items: center;
  z-index: 0;
  border-bottom: 0.5px solid rgb(55, 55, 55);
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 399px) {
  #header {
    flex-direction: column;
    position: relative;
    margin: 25px 0 0 25px;
    padding-bottom: 20px;
    transition: all 0.2s ease-out;
  }
}
@media (min-width: 399px) and (max-width: 767px) {
  #header {
    flex-direction: column;
    position: relative;
    margin: 25px 0 0 25px;
    padding-bottom: 20px;
    transition: all 0.2s ease-out;
  }
}
#header #headerContAndLoc {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 399px) {
  #header #headerContAndLoc {
    flex-direction: column;
    align-self: start;
    align-items: start;
  }
}
@media (min-width: 399px) and (max-width: 767px) {
  #header #headerContAndLoc {
    flex-direction: column;
    align-self: start;
    align-items: start;
  }
}
#header #headerContAndLoc #headerCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header #headerContAndLoc #headerCont:hover {
  cursor: pointer;
  -webkit-text-decoration: underline rgb(243, 85, 37);
          text-decoration: underline rgb(243, 85, 37);
}
#header #headerContAndLoc #headerCont #picHeaderOne {
  width: 20px;
  height: 20px;
  margin-right: 7px;
  background-image: url("../images/svgs/headerContAndLoc/email.svg");
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #header #headerContAndLoc #headerCont #picHeaderOne {
    width: 18px;
    height: 18px;
  }
}
#header #headerContAndLoc #headerCont #pHeaderCont {
  color: rgb(150, 150, 150);
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 399px) {
  #header #headerContAndLoc #headerCont #pHeaderCont {
    font-size: 13px;
  }
}
@media (min-width: 399px) and (max-width: 550px) {
  #header #headerContAndLoc #headerCont #pHeaderCont {
    font-size: 13px;
  }
}
@media (min-width: 550px) and (max-width: 767px) {
  #header #headerContAndLoc #headerCont #pHeaderCont {
    font-size: 14px;
  }
}
@media (min-width: 767px) and (max-width: 876px) {
  #header #headerContAndLoc #headerCont #pHeaderCont {
    font-size: 14px;
  }
}
#header #headerContAndLoc #headerLoc {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}
@media (min-width: 300px) and (max-width: 399px) {
  #header #headerContAndLoc #headerLoc {
    margin-top: 15px;
    margin-left: 0;
  }
}
@media (min-width: 399px) and (max-width: 767px) {
  #header #headerContAndLoc #headerLoc {
    margin-top: 15px;
    margin-left: 0;
  }
}
#header #headerContAndLoc #headerLoc #picHeaderTwo {
  width: 20px;
  height: 20px;
  margin-right: 7px;
  background-image: url("../images/svgs/headerContAndLoc/map.svg");
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #header #headerContAndLoc #headerLoc #picHeaderTwo {
    width: 18px;
    height: 18px;
  }
}
#header #headerContAndLoc #headerLoc #pHeaderLoc {
  color: rgb(150, 150, 150);
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 399px) {
  #header #headerContAndLoc #headerLoc #pHeaderLoc {
    font-size: 13px;
  }
}
@media (min-width: 399px) and (max-width: 550px) {
  #header #headerContAndLoc #headerLoc #pHeaderLoc {
    font-size: 13px;
  }
}
@media (min-width: 550px) and (max-width: 767px) {
  #header #headerContAndLoc #headerLoc #pHeaderLoc {
    font-size: 14px;
  }
}
@media (min-width: 767px) and (max-width: 876px) {
  #header #headerContAndLoc #headerLoc #pHeaderLoc {
    font-size: 14px;
  }
}
#header #headerSchedule {
  display: none;
  flex-direction: row;
  align-items: center;
  width: 210px;
  height: 45px;
  position: relative;
  margin-right: 20px;
  padding: 0 20px 0 20px;
  border-radius: 50px;
  background-color: rgb(35, 35, 35);
  align-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 399px) {
  #header #headerSchedule {
    display: flex;
    width: 177px;
    height: 42px;
    padding: 0 20px 0 8px;
    margin: 22px 10px 0px 0;
    align-self: start;
  }
}
@media (min-width: 399px) and (max-width: 767px) {
  #header #headerSchedule {
    display: flex;
    width: 185px;
    height: 45px;
    padding: 0 20px 0 8px;
    margin: 22px 10px 0px 0;
    align-self: start;
  }
}
#header #headerSchedule #holderHeaderSchedule {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 0;
  background-color: rgb(52, 52, 52);
  border-radius: 50px;
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 399px) {
  #header #headerSchedule #holderHeaderSchedule {
    width: 42px;
    height: 42px;
  }
}
#header #headerSchedule #holderHeaderSchedule #picHeaderSchedule {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url("../images/svgs/navBar/calendar.svg");
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 399px) {
  #header #headerSchedule #holderHeaderSchedule #picHeaderSchedule {
    width: 22px;
    height: 22px;
    top: 10px;
    left: 10px;
  }
}
@media (min-width: 399px) and (max-width: 767px) {
  #header #headerSchedule #holderHeaderSchedule #picHeaderSchedule {
    width: 22px;
    height: 22px;
    top: 11px;
    left: 11px;
  }
}
#header #headerSchedule #pHeaderSchedule {
  margin-left: 55px;
  font-size: 14px;
  color: rgb(180, 180, 180);
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 399px) {
  #header #headerSchedule #pHeaderSchedule {
    font-size: 12px;
  }
}
@media (min-width: 399px) and (max-width: 767px) {
  #header #headerSchedule #pHeaderSchedule {
    font-size: 13px;
  }
}
#header #headerSocialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 399px) {
  #header #headerSocialMedia {
    margin-top: 25px;
    align-self: center;
  }
}
@media (min-width: 399px) and (max-width: 767px) {
  #header #headerSocialMedia {
    margin-top: 23px;
    align-self: center;
  }
}
#header #headerSocialMedia #headerInsta {
  width: 18px;
  height: 18px;
  margin-right: 22px;
  background-image: url("../images/svgs/headerSocialMedia/headerInsta.svg");
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #header #headerSocialMedia #headerInsta {
    width: 16px;
    height: 16px;
  }
}
#header #headerSocialMedia #headerInsta:hover {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-image: url("../images/svgs/headerSocialMedia/hover/headerInsta.svg");
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #header #headerSocialMedia #headerInsta:hover {
    width: 16px;
    height: 16px;
  }
}
#header #headerSocialMedia #headerTelegram {
  width: 18px;
  height: 18px;
  margin-right: 22px;
  background-image: url("../images/svgs/headerSocialMedia/headerTelegram.svg");
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #header #headerSocialMedia #headerTelegram {
    width: 16px;
    height: 16px;
  }
}
#header #headerSocialMedia #headerTelegram:hover {
  width: 18px;
  height: 18px;
  margin-right: 22px;
  cursor: pointer;
  background-image: url("../images/svgs/headerSocialMedia/hover/headerTelegram.svg");
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #header #headerSocialMedia #headerTelegram:hover {
    width: 16px;
    height: 16px;
  }
}
#header #headerSocialMedia #headerX {
  width: 18px;
  height: 18px;
  margin-right: 22px;
  background-image: url("../images/svgs/headerSocialMedia/headerX.svg");
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #header #headerSocialMedia #headerX {
    width: 16px;
    height: 16px;
  }
}
#header #headerSocialMedia #headerX:hover {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-image: url("../images/svgs/headerSocialMedia/hover/headerX.svg");
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #header #headerSocialMedia #headerX:hover {
    width: 16px;
    height: 16px;
  }
}
#header #headerSocialMedia #headerYouTube {
  width: 18px;
  height: 18px;
  background-image: url("../images/svgs/headerSocialMedia/headerYouTube.svg");
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #header #headerSocialMedia #headerYouTube {
    width: 16px;
    height: 16px;
  }
}
#header #headerSocialMedia #headerYouTube:hover {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-image: url("../images/svgs/headerSocialMedia/hover/headerYouTube.svg");
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #header #headerSocialMedia #headerYouTube:hover {
    width: 16px;
    height: 16px;
  }
}

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 80px;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 100;
}
@media (min-width: 300px) and (max-width: 399px) {
  #navBar {
    height: -moz-fit-content;
    height: fit-content;
    flex-flow: column wrap;
  }
}
@media (min-width: 399px) and (max-width: 767px) {
  #navBar {
    height: -moz-fit-content;
    height: fit-content;
    flex-flow: column wrap;
  }
}
#navBar #toggle {
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 20px;
}
@media (min-width: 300px) and (max-width: 767px) {
  #navBar #toggle {
    align-self: start;
    margin: 25px 0 20px 20px;
  }
}
#navBar #toggle #logo {
  margin-right: 25px;
  color: rgb(130, 130, 130);
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 767px) {
  #navBar #toggle #logo {
    margin-right: 20px;
    font-size: 21px;
  }
}
@media (min-width: 767px) and (max-width: 876px) {
  #navBar #toggle #logo {
    font-size: 22px;
    margin-right: 22px;
  }
}
#navBar #toggle #lightMode {
  width: 0;
  height: 0;
  visibility: hidden;
}
#navBar #toggle label {
  display: block;
  width: 75px;
  height: 35px;
  position: relative;
  background-color: rgb(65, 65, 65);
  border-radius: 200px;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.4), inset 0 -5px 15px rgba(107, 107, 107, 0.4);
  cursor: pointer;
  transition: all 0.2s ease;
}
#navBar #toggle label::after {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  top: 4.5px;
  left: 3px;
  background: linear-gradient(180deg, rgb(35, 35, 35), rgb(30, 30, 30));
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 876px) {
  #navBar #toggle label::after {
    width: 22px;
    height: 22px;
  }
}
@media (min-width: 300px) and (max-width: 876px) {
  #navBar #toggle label {
    width: 70px;
    height: 30px;
  }
}
#navBar #toggle label #moon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  background-image: url("../images/svgs/navBar/moon.svg");
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 876px) {
  #navBar #toggle label #moon {
    width: 13.5px;
    height: 13.5px;
    top: 8.5px;
    left: 8px;
  }
}
#navBar #toggle label #sun {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 8px;
  left: 50px;
  z-index: 1;
  background-image: url("../images/svgs/navBar/sun.svg");
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 876px) {
  #navBar #toggle label #sun {
    width: 16px;
    height: 16px;
    top: 7.5px;
    left: 47.8px;
  }
}
#navBar #toggle #lightMode:checked + label {
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 5px 15px rgba(97, 97, 97, 0.4), inset 0 -5px 15px rgba(146, 146, 146, 0.4);
  cursor: pointer;
}
#navBar #toggle #lightMode:checked + label::after {
  top: 4.5px;
  left: 71px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(219, 219, 219));
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 876px) {
  #navBar #toggle #lightMode:checked + label::after {
    top: 4.3px;
    left: 66.5px;
  }
}
#navBar #toggle label:active::after {
  width: 35px;
}
#navBar #navBarJumpingListsAndSchedule {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 767px) {
  #navBar #navBarJumpingListsAndSchedule {
    align-self: end;
  }
}
#navBar #navBarJumpingListsAndSchedule #navBarUl {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 20px;
  align-items: center;
  list-style: none;
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 767px) {
  #navBar #navBarJumpingListsAndSchedule #navBarUl {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 876px) {
  #navBar #navBarJumpingListsAndSchedule #navBarUl {
    margin-right: 0;
  }
}
#navBar #navBarJumpingListsAndSchedule #navBarUl li {
  margin-right: 30px;
  color: rgb(150, 150, 150);
  cursor: pointer;
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #navBar #navBarJumpingListsAndSchedule #navBarUl li {
    margin-right: 25px;
    font-size: 14px;
  }
}
#navBar #navBarJumpingListsAndSchedule #navBarUl #navBarLiFour {
  margin-right: 20px;
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #navBar #navBarJumpingListsAndSchedule #navBarUl #navBarLiFour {
    font-size: 14px;
  }
}
#navBar #navBarJumpingListsAndSchedule #navBarSchedule {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 210px;
  height: 45px;
  position: relative;
  margin-right: 20px;
  padding: 0 20px 0 20px;
  border-radius: 50px;
  background-color: rgb(40, 40, 40);
  align-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
@media (min-width: 300px) and (max-width: 399px) {
  #navBar #navBarJumpingListsAndSchedule #navBarSchedule {
    display: none;
  }
}
@media (min-width: 399px) and (max-width: 767px) {
  #navBar #navBarJumpingListsAndSchedule #navBarSchedule {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 876px) {
  #navBar #navBarJumpingListsAndSchedule #navBarSchedule {
    width: 172px;
    height: 45px;
    padding: 0;
  }
}
#navBar #navBarJumpingListsAndSchedule #navBarSchedule #holderNavBarSchedule {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 0;
  background-color: rgb(55, 55, 55);
  border-radius: 50px;
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #navBar #navBarJumpingListsAndSchedule #navBarSchedule #holderNavBarSchedule {
    width: 43px;
    height: 43px;
  }
}
#navBar #navBarJumpingListsAndSchedule #navBarSchedule #holderNavBarSchedule #picNavBarSchedule {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url("../images/svgs/navBar/calendar.svg");
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #navBar #navBarJumpingListsAndSchedule #navBarSchedule #holderNavBarSchedule #picNavBarSchedule {
    width: 23px;
    height: 23px;
    top: 9.5px;
    left: 10px;
  }
}
#navBar #navBarJumpingListsAndSchedule #navBarSchedule #pNavBarSchedule {
  margin-left: 55px;
  font-size: 14px;
  color: rgb(150, 150, 150);
  transition: all 0.2s ease;
}
@media (min-width: 767px) and (max-width: 876px) {
  #navBar #navBarJumpingListsAndSchedule #navBarSchedule #pNavBarSchedule {
    font-size: 12px;
  }
}

#slideWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 30px 20px 20px 20px;
  align-items: center;
  overflow: hidden;
  transition: all 1.5s ease;
}
#slideWrapper #sliderBttnPrev {
  width: 60px;
  height: 80px;
  margin-right: 20px;
  background-color: rgb(40, 40, 40);
  color: rgb(150, 150, 150);
  font-size: 35px;
  border: none;
  border-radius: 100px;
  transition: all 0.2s ease;
  cursor: pointer;
  z-index: 1;
}
#slideWrapper #sliderBttnPrev:hover {
  background-color: rgb(52, 52, 52);
}
#slideWrapper #sliderContainer {
  display: flex;
  align-content: center;
  width: max(100% - 30px);
  height: calc(50em - 100px);
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  border-radius: 10px;
}
#slideWrapper #slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}
#slideWrapper #slide:nth-child(1) {
  background-image: url("../images/topOne/topOneOne.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#slideWrapper #slide:nth-child(2) {
  background-image: url("../images/topOne/topOneTwo.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#slideWrapper #slide:nth-child(3) {
  background-image: url("../images/topOne/topOneThree.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#slideWrapper #sliderBttnNext {
  width: 60px;
  height: 80px;
  margin-left: 20px;
  background-color: rgb(40, 40, 40);
  color: rgb(150, 150, 150);
  font-size: 35px;
  border: none;
  border-radius: 100px;
  transition: all 0.2s ease;
  cursor: pointer;
  z-index: 1;
}
#slideWrapper #sliderBttnNext:hover {
  background-color: rgb(52, 52, 52);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  background-color: rgb(25, 25, 25);
  transition: all 0.3s ease;
}/*# sourceMappingURL=main.css.map */