#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin-top: 75px;
  font-size: 13px;
  background-color: rgb(28, 28, 28);
  color: rgb(150, 150, 150);
  border-top: 0.5px solid rgb(55, 55, 55);
  transition: all 0.2s ease;
}
