#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1.5em 2em 0 2em;
  align-items: center;
  z-index: 0;

  #headerContAndLoc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    #headerCont {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:hover {
        cursor: pointer;
        text-decoration: underline rgb(243, 85, 37);
      }

      #headerPicOne {
        background-image: url('../images/svgs/headerContAndLoc/email.svg');
        width: 20px;
        height: 20px;
        margin-right: 0.5em;
      }

      #pCont {
        color: rgb(255, 228, 196);
        transition: all 0.2s ease;
      }
    }

    #headerLoc {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 2em;

      #headerPicTwo {
        background-image: url('../images/svgs/headerContAndLoc/map.svg');
        width: 20px;
        height: 20px;
        margin-right: 0.5em;
      }

      #pLoc {
        color: rgb(255, 228, 196);
        transition: all 0.2s ease;
      }
    }
  }

  #headerSocialMedia {
    display: flex;
    flex-direction: row;
    align-items: center;

    #headerInsta {
      background-image: url('../images/svgs/headerSocialMedia/headerInsta.svg');
      width: 18px;
      height: 18px;
      margin-right: 1.5em;

      &:hover {
        cursor: pointer;
        background-image: url('../images/svgs/headerSocialMedia/hover/headerInsta.svg');
        width: 18px;
        height: 18px;
      }
    }

    #headerTelegram {
      background-image: url('../images/svgs/headerSocialMedia/headerTelegram.svg');
      width: 18px;
      height: 18px;

      &:hover {
        cursor: pointer;
        background-image: url('../images/svgs/headerSocialMedia/hover/headerTelegram.svg');
        width: 18px;
        height: 18px;
      }
    }

    #headerX {
      background-image: url('../images/svgs/headerSocialMedia/headerX.svg');
      width: 18px;
      height: 18px;
      margin-right: 1.5em;

      &:hover {
        cursor: pointer;
        background-image: url('../images/svgs/headerSocialMedia/hover/headerX.svg');
        width: 18px;
        height: 18px;
      }
    }

    #headerYouTube {
      background-image: url('../images/svgs/headerSocialMedia/headerYouTube.svg');
      width: 18px;
      height: 18px;
      margin-right: 1.5em;

      &:hover {
        cursor: pointer;
        background-image: url('../images/svgs/headerSocialMedia/hover/headerYouTube.svg');
        width: 18px;
        height: 18px;
      }
    }
  }
}
