#midTwo {
  display: flex;
  flex-direction: column;
  width: inherit;
  margin-top: 30px;
  margin-bottom: 15em; //remove when done with this section
  transition: all 0.2s ease;

  @include breakPoints(small) {
    margin-top: 0;
  }

  @include breakPoints(mobile) {
    margin-top: 60px;
  }

  @include breakPoints(tablet) {
    margin-top: 60px;
  }

  #headerMidTwo {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding: 0 120px;
    justify-content: space-between;
    align-items: end;
    transition: all 0.2s ease;

    @include breakPoints(small) {
      flex-direction: column;
      align-items: start;
      padding: 0 20px;
    }

    @include breakPoints(mobile) {
      flex-direction: column;
      align-items: start;
      padding: 0 20px;
    }

    @media (min-width: 767px) and (max-width: 939px) {
      flex-direction: column;
      align-items: start;
      padding: 0 20px;
    }

    @media (min-width: 939px) and (max-width: 1023px) {
      flex-direction: row;
      align-items: start;
      padding: 0 20px;
    }

    @media (min-width: 1023px) and (max-width: 1169px) {
      padding: 0 50px;
    }

    #leftMidTwo {
      display: flex;
      flex-direction: column;
      transition: all 0.2s ease;

      #pMidTwoOne {
        font-size: 20px;
        font-weight: 700;
        color: rgb(243, 85, 37);
        transition: all 0.2s ease;
      }

      #pMidTwoTwo {
        font-size: 30px;
        font-weight: 700;
        color: rgb(150, 150, 150);
        transition: all 0.2s ease;

        @include breakPoints(small) {
          font-size: 25px;
        }
      }
    }

    #rightMidTwo {
      display: flex;
      flex-direction: row;
      transition: all 0.2s ease;

      @include breakPoints(small) {
        flex-direction: column;
        align-self: center;
        margin-top: 35px;
      }

      @include breakPoints(mobile) {
        flex-direction: column;
        align-self: center;
        margin-top: 35px;
      }

      @media (min-width: 767px) and (max-width: 939px) {
        align-self: center;
        margin-top: 35px;
      }

      @media (min-width: 939px) and (max-width: 1023px) {
        align-self: end;
      }

      #pMidTwoThreeHolder {
        width: 160px;
        height: 50px;
        align-content: center;
        background-color: rgb(40, 40, 40);
        border-radius: 10px;
        transition: all 0.2s ease;
        cursor: pointer;

        @include breakPoints(small) {
          cursor: unset;
        }

        @include breakPoints(mobile) {
          cursor: unset;
        }

        @include breakPoints(tablet) {
          cursor: unset;
        }

        #pMidTwoThree {
          color: rgb(210, 210, 210);
          text-align: center;
          font-weight: 500;
          transition: all 0.2s ease;
        }
      }

      #pMidTwoFourHolder {
        width: 160px;
        height: 50px;
        align-content: center;
        margin-left: 20px;
        background-color: rgb(40, 40, 40);
        border-radius: 10px;
        transition: all 0.2s ease;
        cursor: pointer;

        @include breakPoints(small) {
          cursor: unset;
        }

        @include breakPoints(mobile) {
          cursor: unset;
        }

        @include breakPoints(tablet) {
          cursor: unset;
        }

        @include breakPoints(small) {
          margin: 20px 0 0 0;
        }

        @include breakPoints(mobile) {
          margin: 20px 0 0 0;
        }

        #pMidTwoFour {
          color: rgb(210, 210, 210);
          text-align: center;
          font-weight: 500;
          transition: all 0.2s ease;
        }
      }

      #pMidTwoFiveHolder {
        width: 160px;
        height: 50px;
        align-content: center;
        margin-left: 20px;
        background-color: rgb(40, 40, 40);
        border-radius: 10px;
        transition: all 0.2s ease;
        cursor: pointer;

        @include breakPoints(small) {
          cursor: unset;
        }

        @include breakPoints(mobile) {
          cursor: unset;
        }

        @include breakPoints(tablet) {
          cursor: unset;
        }

        @include breakPoints(small) {
          margin: 20px 0 0 0;
        }

        @include breakPoints(mobile) {
          margin: 20px 0 0 0;
        }

        #pMidTwoFive {
          color: rgb(210, 210, 210);
          text-align: center;
          font-weight: 500;
          transition: all 0.2s ease;
        }
      }
    }
  }
}
