#topTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: inherit;
  height: auto;
  margin-top: 70px;
  margin-bottom: 10em; // remove when a new section is added
  padding: 0 50px;
  flex-wrap: wrap;
  transition: all 0.2s ease;

  @include breakPoints(small) {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-top: 50px;
    padding: 0;
  }

  @include breakPoints(mobile) {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-top: 50px;
    padding: 0;
  }

  @include breakPoints(tablet) {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-top: 55px;
    padding: 0;
  }

  @include breakPoints(laptop) {
    justify-content: space-between;
    flex-direction: row;
    align-items: end;
  }

  #topTwoLeftSec {
    display: flex;
    position: relative;
    width: fit-content;

    @include breakPoints(tablet) {
      height: 525px;
    }

    @include breakPoints(laptop) {
      margin-left: 105px;
      transform: translate(-15%, 0%);
    }

    #topTwoLeftSecMainPhoto {
      width: 355px;
      height: 490px;
      position: relative;
      border-radius: 10px;
      background-image: url('../images/topTwo/topTwoOne.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: 6%;

      @include breakPoints(small) {
        width: 251px;
        height: 346px;
      }

      @include breakPoints(mobile) {
        width: 251px;
        height: 346px;
      }

      #topTwoLeftSecSvgHolder {
        width: 70px;
        height: 70px;
        position: absolute;
        bottom: -25px;
        left: -25px;
        background-color: rgb(243, 85, 37);
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          filter: brightness(90%);
          background-color: rgb(212, 73, 31);
        }

        @include breakPoints(small) {
          width: 60px;
          height: 60px;
          bottom: -10px;
          left: -10px;
        }

        @include breakPoints(mobile) {
          width: 65px;
          height: 65px;
          bottom: -25px;
          left: -25px;
        }

        @include breakPoints(tablet) {
          width: 65px;
          height: 65px;
          bottom: -20px;
          left: -20px;
        }

        #topTwoLeftSecSvg {
          width: 35px;
          height: 35px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-image: url('../images/svgs/topTwo/contract.svg');
          background-repeat: no-repeat;

          @include breakPoints(mobile) {
            width: 30px;
            height: 30px;
          }

          @include breakPoints(tablet) {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }

  #topTwoMidSec {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 35%;

    @include breakPoints(small) {
      width: unset;
      margin-top: 65px;
    }

    @include breakPoints(mobile) {
      width: unset;
      margin-top: 65px;
    }

    @include breakPoints(tablet) {
      width: 80%;
      margin-top: 50px;
    }

    @include breakPoints(laptop) {
      transform: translate(0%, 50%);
    }

    #pTopTwoMidSecOne {
      color: rgb(243, 85, 37);
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 20px 0 20px;
    }

    #pTopTwoMidSecTwo {
      display: flex;
      flex-wrap: wrap;
      margin: 25px 20px 60px 20px;
      color: rgb(150, 150, 150);
      font-size: 30px;
      font-weight: 700;

      @include breakPoints(small) {
        margin-bottom: 0;
      }

      @include breakPoints(small) {
        margin-bottom: 20px;
      }

      @include breakPoints(tablet) {
        margin-bottom: 20px;
      }

      @include breakPoints(laptop) {
        margin-bottom: 120px;
      }
    }

    #pTopTwoMidSecThreeHolder {
      width: fit-content;
      margin-top: 25px;
      background-color: rgb(28, 28, 28);

      @include breakPoints(small) {
        margin-top: 45px;
        border-radius: 0;
      }

      #pTopTwoMidSecThreeShown {
        height: 50px;
        align-content: center;
        position: relative;
        padding-left: 20px;
        background-color: rgb(32, 32, 32);
        color: rgb(243, 85, 37);
        font-size: 14px;
        border-bottom: 0.5px solid rgb(55, 55, 55);
        cursor: pointer;
        border-radius: 10px 10px 0px 0px;

        @include breakPoints(small) {
          border-radius: 0;
        }

        @include breakPoints(mobile) {
          border-radius: 0;
        }

        #showMidSecThreeHolder {
          position: absolute;
          right: 50px;
          color: rgb(150, 150, 150);
          font-size: 13px;
          transition: all 0.2s ease;
        }

        #hideMidSecThreeHolder {
          position: absolute;
          right: 52px;
          color: rgb(150, 150, 150);
          opacity: 0;
          font-size: 13px;
          transition: all 0.2s ease;
        }
      }

      #pTopTwoMidSecThreeHidden {
        height: 0;
        color: rgb(150, 150, 150);
        opacity: 0;
        transition: all 0.2s ease-in;
      }
    }

    #pTopTwoMidSecFourHolder {
      width: fit-content;
      background-color: rgb(28, 28, 28);

      #pTopTwoMidSecFourShown {
        height: 50px;
        align-content: center;
        position: relative;
        padding-left: 20px;
        background-color: rgb(32, 32, 32);
        color: rgb(243, 85, 37);
        font-size: 14px;
        border-bottom: 0.5px solid rgb(55, 55, 55);
        cursor: pointer;

        #showMidSecFourHolder {
          position: absolute;
          right: 50px;
          color: rgb(150, 150, 150);
          font-size: 13px;
          transition: all 0.2s ease;
        }

        #hideMidSecFourHolder {
          position: absolute;
          right: 52px;
          opacity: 0;
          color: rgb(150, 150, 150);
          font-size: 13px;
          transition: all 0.2s ease;
        }
      }

      #pTopTwoMidSecFourHidden {
        height: 0;
        color: rgb(150, 150, 150);
        opacity: 0;
        transition: all 0.2s ease-in;

        @include breakPoints(small) {
          align-content: center;
        }
      }
    }

    #pTopTwoMidSecFiveHolder {
      width: fit-content;
      background-color: rgb(28, 28, 28);
      border-radius: 0px 0px 10px 10px;

      @include breakPoints(small) {
        border-radius: 0;
      }

      @include breakPoints(mobile) {
        border-radius: 0;
      }

      #pTopTwoMidSecFiveShown {
        height: 50px;
        align-content: center;
        position: relative;
        padding-left: 20px;
        background-color: rgb(32, 32, 32);
        color: rgb(243, 85, 37);
        font-size: 14px;
        border-bottom: unset;
        cursor: pointer;
        border-bottom: unset;
        border-radius: 0px 0px 10px 10px;

        @include breakPoints(small) {
          border-radius: 0;
        }

        @include breakPoints(mobile) {
          border-radius: 0;
        }

        #showMidSecFiveHolder {
          position: absolute;
          right: 50px;
          color: rgb(150, 150, 150);
          font-size: 13px;
          transition: all 0.2s ease;
        }

        #hideMidSecFiveHolder {
          position: absolute;
          right: 52px;
          opacity: 0;
          color: rgb(150, 150, 150);
          font-size: 13px;
          transition: all 0.2s ease;
        }
      }

      #pTopTwoMidSecFiveHidden {
        height: 0;
        color: rgb(150, 150, 150);
        opacity: 0;
        transition: all 0.2s ease-in;

        @include breakPoints(small) {
          align-content: center;
        }
      }
    }
  }

  #topTwoRightSec {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    // margin-top: 50px;
    padding: 30px 50px;
    background-color: rgb(28, 28, 28);
    border-radius: 10px;

    @include breakPoints(small) {
      width: inherit;
      margin-top: 50px;
      padding: 30px 50px;
      border-radius: unset;
    }

    @media (min-width: 399px) and (max-width: 499px) {
      width: inherit;
      margin-top: 50px;
      padding: 30px 50px;
      border-radius: unset;
    }

    @media (min-width: 499px) and (max-width: 599px) {
      width: inherit;
      margin-top: 50px;
      padding: 30px 90px;
      border-radius: unset;
    }

    @media (min-width: 599px) and (max-width: 699px) {
      width: inherit;
      margin-top: 50px;
      padding: 30px 130px;
      border-radius: unset;
    }

    @media (min-width: 699px) and (max-width: 767px) {
      width: inherit;
      margin-top: 50px;
      padding: 30px 170px;
      border-radius: unset;
    }

    @include breakPoints(tablet) {
      width: 80%;
      margin-top: 50px;
      padding: 30px 150px;
    }

    @include breakPoints(laptop) {
      width: 45%;
      margin-top: 50px;
      padding: 30px 50px;
    }

    #topTwoRightSecHolderOne {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 35px;
      border-bottom: 0.5px solid rgb(55, 55, 55);

      #picTopTwoRightSecHolder {
        width: 60px;
        height: 60px;
        background-image: url('../images/svgs/topTwo/size.svg');
        background-repeat: no-repeat;

        @include breakPoints(small) {
          width: 45px;
          height: 45px;
        }
      }

      #pTopTwoRightSecHolder {
        display: flex;
        flex-direction: column;
        text-align: end;

        #pTopTwoRightSecOne {
          color: rgb(150, 150, 150);

          @include breakPoints(small) {
            font-size: 14px;
          }
        }

        #pTopTwoRightSecTwo {
          color: rgb(120, 120, 120);

          @include breakPoints(small) {
            font-size: 14px;
          }
        }
      }
    }

    #topTwoRightSecHolderTwo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 35px;
      padding-bottom: 35px;
      border-bottom: 0.5px solid rgb(55, 55, 55);

      #picTopTwoRightSecHolder {
        width: 60px;
        height: 60px;
        background-image: url('../images/svgs/topTwo/contractRight.svg');
        background-repeat: no-repeat;

        @include breakPoints(small) {
          width: 45px;
          height: 45px;
        }
      }

      #pTopTwoRightSecHolder {
        display: flex;
        flex-direction: column;
        text-align: end;

        #pTopTwoRightSecThree {
          color: rgb(150, 150, 150);

          @include breakPoints(small) {
            font-size: 14px;
          }
        }

        #pTopTwoRightSecFour {
          color: rgb(120, 120, 120);

          @include breakPoints(small) {
            font-size: 14px;
          }
        }
      }
    }

    #topTwoRightSecHolderThree {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 35px;
      padding-bottom: 35px;
      border-bottom: 0.5px solid rgb(55, 55, 55);

      #picTopTwoRightSecHolder {
        width: 60px;
        height: 60px;
        background-image: url('../images/svgs/topTwo/payment.svg');
        background-repeat: no-repeat;
        transform: translate(11%);

        @include breakPoints(small) {
          width: 42px;
          height: 42px;
          transform: translate(16%);
        }
      }

      #pTopTwoRightSecHolder {
        display: flex;
        flex-direction: column;
        text-align: end;

        #pTopTwoRightSecFive {
          color: rgb(150, 150, 150);

          @include breakPoints(small) {
            font-size: 14px;
          }
        }

        #pTopTwoRightSecSix {
          color: rgb(120, 120, 120);

          @include breakPoints(small) {
            font-size: 14px;
          }
        }
      }
    }

    #topTwoRightSecHolderFour {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 35px;

      #picTopTwoRightSecHolder {
        width: 60px;
        height: 60px;
        background-image: url('../images/svgs/topTwo/safety.svg');
        background-repeat: no-repeat;
        transform: translate(14%);

        @include breakPoints(small) {
          width: 40px;
          height: 40px;
          transform: translate(20%);
        }
      }

      #pTopTwoRightSecHolder {
        display: flex;
        flex-direction: column;
        text-align: end;

        #pTopTwoRightSecSeven {
          color: rgb(150, 150, 150);

          @include breakPoints(small) {
            font-size: 14px;
          }
        }

        #pTopTwoRightSecEight {
          color: rgb(120, 120, 120);

          @include breakPoints(small) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
