@import '../scss/container.scss';
@import '../scss/headerONE.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins';
}

body {
  width: 100%;
  height: auto;
  background-color: rgb(30, 30, 30);
}
