@import '../scss/_mediaQuery.scss';
@import '../scss/_container.scss';
@import '../scss/_header.scss';
@import '../scss/_navBar.scss';
@import '../scss/_topOne.scss';
@import '../scss/_topTwo.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins';
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  background-color: rgb(25, 25, 25);
  transition: all 0.3s ease;
}
